*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 500px;
    height: 250px;
    background-color: aqua;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    

}
.container2{
    width: 500px;
    height: 250px;
    
    background-color: gray;
    justify-content: center;
}
.box{
    width: 45px;
    height: 45px;
    justify-content: end;
    background-color: red;
   
}
.box1{
    width: 45px;
    height: 45px;
    
   
    background-color: aquamarine;

}