* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 75px;
}

.card {
    max-width: 200px;
    padding: 10px;
    border: 1px solid;
    text-align: center;
    
}
/* .card img {
    max-width: 225px;
} */

.card p {
    margin: 25px 0;
}

.card h3{
    margin-bottom: 10px;
}

.card button {
    border-radius: 8px;
    padding: 5px 10px;
    outline: none;
    background-color: transparent;
    border: 1px solid;
}

